
	<div class="row"> <!-- SECTION: NAVIGATION ROW -->
		<div class="col-xs-12 formatted-div">        
	        <div class="row">     
	            <div class="col-xs-6"> 
	               <div class="site-logo">
	                    <h1>Testing Platform</h1>
	                </div>
	            </div>
	            <div class="col-xs-6">
	               	
	            </div>
	        </div>
		</div>
	</div> <!-- END SECTION: NAVIGATION ROW -->

	<div class="row"> <!-- SECTION: NAVIGATION ROW -->
		<div class="col-xs-12 formatted-div">        
    		<a href="/admintests/new" class="btn btn-success wide50">Create a Test</a>
		</div>
	</div> <!-- END SECTION: NAVIGATION ROW -->


	<div class="row"> <!-- SETION: TEST DETAILS ROW -->
		<div class="col-xs-12 formatted-div">
            <div class="row">
                <div class="col-xs-12">
                   <h1>Test List:</h1>
                   <table class='table table-bordered'>
                   		<thead>
                   			<td>ID</td>
                   			<td>Name</td>
                   			<td>Total Questions</td>
                   			<td>Actions</td>
                   		</thead>
                   		
                   </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 ">
                  
                </div>
                <div class="col-xs-6">
                   
                </div>
            </div>
		</div>
	</div> <!-- END SETION: TEST DETAILS ROW -->

