<li class='ui-state-default test2'>
    <form>
        <div class='boxed-answer'>
            <input type='radio' name='correctAnswer'>
            <input type='text' class='answer' name='answer" + data.answer_id +"' value=''>
            <button class='btn btn-danger btn-xs added-answer'>X</button>
        </div>
    </form>
</li>