<h1>Admintests#new CREATE NEW TEST </h1>
<p>Find me in app/views/admintests/new.html.erb</p>

	<script type="text/javascript">
        $(function() {
            $( "#sortable, #sortable2, #ol-questions-id" ).sortable();
            $( "#sortable, #sortable2, #ol-questions-id" ).disableSelection();
        
            if(_answerIndex == null)
                var _answerIndex = 0;
            if(_questionIndex == null)
                var _questionIndex = 0;
            $(document).on('click', '.add-answer', function(){
                _answerIndex = _answerIndex + 1;
                console.log(_answerIndex);
                $(this).closest('.answers').find('ol').append("<li class='ui-state-default test2'><div class='boxed-answer'><label class='answer'><input type='radio' name='correctAnswer'></span></label><input type='text' class='answer' name='answer"+_answerIndex+"' value=''> <button class='btn btn-danger btn-xs added-answer'>X</button></div></li>");
                return false;
            });
        });
        
        $(document).on('click', '.added-answer', function(){
            $(this).parent().parent().remove();
        });

        $(document).on('dblclick', 'li.answer', function(){
            $(this).parent().toggleClass('right-answer');
            // $(this).parent().prop('correct', true);
        });

        $(document).on('click', '#add-question', function(){
            $('.container').append("");
        });
        $(document).on('click', '.delete_btn', function(){
            $(this).closest('li.ui-state-default').remove();
        });
        
        $(document).on('click', '#addQuestion', function(){
            $('#sortable2').append("<li class='ui-state-default'><div class='row'> <div class='col-xs-12 questions-div '><div class='row'><div class='col-xs-12'><div class='question'><textarea></textarea></div></div></div><div class='row'><div class='col-xs-6'><div class='answers'> <h4>Click the circle to identify correct answer.</h4><div id='sortable' class='answerbank'><ol id='ol-questions-id'></ol></div><button class='boxed-answer add-answer'>Add an answer</button></div></div><div class='col-xs-6'><div class='row'><div class='options'><div class='row padding15'><h4>Set the test options.</h4><div class='top'><div class='col-xs-6 padded'><label>Enter Time Limit:</label><br></div><div class='col-xs-6 padded'><input type='stopwatch' class='timelimit' placeholder='00:00'> <br></div></div></div><div class='row padding15'><div class='bottom padded'><button class='btn btn-danger delete_btn'>DELETE QUESTION</button></div></div></div></div></div></div></div></div></li>");            
            return false;
        });
	</script>
	<title>Admin Create/Edit Test</title>
<body>

<div class="container">

	<div class="row"> <!-- SECTION: NAVIGATION ROW -->
		<div class="col-xs-12 formatted-div">        
            <div class="row">     
                <div class="col-xs-6"> 
                   <div class="site-logo">
                        <h1>Testing Platform - Admin</h1>
                    </div>
                </div>
                <div class="col-xs-6">
                    <nav class="navigation">
                        <a href="/Users/kratos/Desktop/TestingPlatform/admin-test-index.html" class="btn btn-default">Home</a>
                        <a href="/Users/kratos/Desktop/TestingPlatform/admin-results.html" class="btn btn-default">Results</a>
                        <a href="/Users/kratos/Desktop/TestingPlatform/landingpage.html" class="btn btn-default">Logout</a>
                    </nav>		
                </div>
            </div>
		</div>
	</div> <!-- END SECTION: NAVIGATION ROW -->

	<div class="row"> <!-- SETION: TEST DETAILS ROW -->
		<div class="col-xs-12 formatted-div">
            <div class="row">
               <h3>Update Test Information:</h3>
                <div class="col-xs-5 padding5">
                    <div class="col-xs-4">
                        <label>Test Name:</label><br>
                        <label>Test URL:</label>
                    </div>
                    <div class="col-xs-8 font-black">
                        <input class="wide100" value=""><br>
                        <input class="wide100" value="">
                    </div>
                </div>
                <div class="col-xs-5 padding5">
                    <div class="col-xs-4">
                        <label>Test ID:</label>
                    </div>
                    <div class="col-xs-8">
                        <input class="font-black wide100" value="001">
                    </div>
                </div>
                <div class="col-xs-2 padding5">
                    <button class="btn btn-primary">SAVE</button>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
		</div>
	</div> <!-- END SETION: TEST DETAILS ROW -->
    


    <ol id="sortable2" class="ol-questions" toleranceElement=" > ol"> <!-- QUESTIONS SORT -->        

	
      
    </ol> <!-- END QUESTIONS SORT -->

    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
           <div class="formatted-div">
                <a href="" class="btn btn-success wide40" id="addQuestion">Add New Question</a>
                <a href="" class="btn btn-primary wide40 ">SAVE</a>
           </div>
            
        </div>
    </div>

</div>
</html>