<h1>Admintests#show - RESULTS </h1>
<p>Find me in app/views/admintests/show.html.erb</p>


<div class="container">

    <div class="row"> <!-- SECTION: NAVIGATION ROW -->
		<div class="col-xs-12 formatted-div">        
            <div class="row">     
                <div class="col-xs-6 site-logo"> 
                    <h1>Testing Platform - Admin</h1>
                </div>
                <div class="col-xs-6">
                    <nav class="navigation">
                        <a href="/Users/kratos/Desktop/TestingPlatform/admin-test-index.html" class="btn btn-default">Home</a>
                        <a href="/Users/kratos/Desktop/TestingPlatform/admin-results.html" class="btn btn-default">Results</a>
                        <a href="/Users/kratos/Desktop/TestingPlatform/landingpage.html" class="btn btn-default">Logout</a>
                    </nav>		
                </div>
            </div>
		</div>
	</div> <!-- END SECTION: NAVIGATION ROW -->

	<div class="row"> <!-- SECTION: SEARCH CRITERIA ROW -->
	    <div class="col-xs-12 formatted-div">
            <div class="row">
                <div class="col-xs-6">
                    <h3>Search by Student Name:</h3>
                    <label for="">Search:</label> <input type="text">
                    <select name="" id="" class="padding5">
                        <option  value="James Johnson" selected>James Johnson</option>
                        <option value="Jessica Alba">Jessica Alba</option>
                    </select> 
                </div>
                <div class="col-xs-6">
                    <h3>Search by Test ID or Name:</h3>
                    <label for="">Search:</label> <input type="text">
                     <select name="" id="" class="padding5">
                        <option  value="Coding Challenge 101" selected>Coding Challenge 101</option>
                        <option value="Coding Challenge 202">Coding Challenge 202</option>
                    </select>    
                </div>
            </div>
        </div>
    </div> <!-- END SECTION: SEARCH CRITERIA ROW -->

	<div class="row"> <!-- SECTION: QUESTION ANSWERS & OPTIONS ROW -->
	    <div class="col-xs-12 formatted-div">
            <div class="row padding15">
                <h2>Results: </h2>
                 <table class="table table-results">
                    <thead>
                        <tr>
                            <td>Test Name</td>
                            <td>Test ID:</td>
                            <td>Student Name:</td>
                            <td>Pass/Fail:</td>
                            <td>Score:</td>
                            <td>On-Time:</td>
                        </tr>
                    </thead>
                    <tr class="success">
                        <td>Coding Challenge 101</td>
                        <td>1234</td>
                        <td>James Johnson</td>
                        <td>PASS</td>
                        <td>78%</td>
                        <td>YES</td>
                    </tr>
                    <tr class="danger">
                        <td>Coding Challenge 202</td>
                        <td>1234</td>
                        <td>James Johnson</td>
                        <td>FAIL</td>
                        <td>53%</td>
                        <td>NO</td>
                    </tr>
                </table>
            </div>
        </div>
    </div> <!-- END SECTION: QUESTION ANSWERS & OPTIONS ROW -->

</div>