<%= link_to "Click Here", "#myModal", :id => 'registrationModal', "data-toggle" => "modal", 'data-target' => '#myModal' %>


 "<li class='ui-state-default test2'>"+
                    "<form>"+
                        "<div class='boxed-answer'>"+
                            "<input type='radio' name='correctAnswer'>"+
                            "<input type='text' class='answer' name='answer" + data.answer_id + "' value=''>"+
                            "<button class='btn btn-danger btn-xs added-answer'>X</button>"+
                        "</div>"+
                    "</form>"+
                "</li>"




<!doctype html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <title>Learning About Floats!</title>
        <link rel="stylesheet" href="my_css_file.css">
        <style type="text/css">
           #wrapper{
              width:960px;
              background-color:yellow;
            }
            .content{
              width:220px;
              height: 100px;
              margin: 10px;
              background-color:orange;
              float:left;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <div class="content">
            </div>
            <div class="content">
            </div>
            <div class="content">
            </div>
                    <div class="clear">
            </div
       </div>
   </body>
</html>




<!-- 
            <li class='ui-state-default test2'>
                <div class='boxed-answer'>
                    <label class='answer'>
                        <% if (answer.correct == true) %>
                            <input type='radio' name='correctAnswer' checked>
                        <% else %>
                            <input type='radio' name='correctAnswer'>
                        <% end %>
                    </label>

                    <input type='text' class='answer' name='answer<%= answer.id %>' value='<%= answer.answer %>'>
                    <button class='btn btn-danger btn-xs added-answer'>X</button>
                </div>
            </li> -->