
                "<li class='ui-state-default'>"+
                    "<div class='row'>"+
                        "<div class='col-xs-12 questions-div'>"+
                            "<div class='row'>"+
                                "<div class='col-xs-12'>"+
                                    "<div class='question'>"+
"<form method='post' action='/saveQuestion' class='questions'>"+
    "<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>"+
    "<input type='hidden' name='test_id' value='"+data.test_id+"'>"+
    "<input type='hidden' name='question_id' value='"+data.question_id+"'>"+
    "<textarea name='question'></textarea>"+
"</form>"+
                                    "</div>"+
                                "</div>"+
                            "</div>"+
                            "<div class='row'>"+
                                "<div class='col-xs-6'>"+
                                    "<div class='answers'>"+
                                        "<h4>Click the circle to identify correct answer.</h4>"+
                                        "<div class=''>"+
                                            "<ol class='ol-questions-id'></ol>"+
                                       
"<form class='add-answer'>"+
    "<input type='hidden' name='question_id' value='"+data.question_id+"'>"+
    "<input type='submit' class='btn btn-success wide40' value='Add an Answer'>"+
"</form>"+
 "</div>"+
                                    "</div>"+
                                "</div>"+
                                "<div class='col-xs-6'>"+
                                    "<div class='row'>"+
                                        "<div class='options'>"+
                                            "<div class='row padding15'>"+
                                                "<h4>Set the test options.</h4>"+
                                                "<div class='top'>"+
                                                    "<div class='col-xs-6 padded'>"+
                                                        "<label>Enter Time Limit:</label>"+
                                                        "<br>"+
                                                    "</div>"+
                                                    "<div class='col-xs-6 padded'>"+
                                                        "<input type='stopwatch' class='timelimit' placeholder='00:00' value='999'>"+
                                                        "<br>"+
                                                    "</div>"+
                                                "</div>"+
                                            "</div>"+
                                            "<div class='row padding15'>"+
                                                "<div class='bottom padded'>"+
"<form class='deleteQuestion' method='post' action='/deleteQuestion'>"+
    "<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>"+
    "<input type='hidden' name='question_id' value='"+data.question_id+"'>"+
    "<input type='submit' value='DELETE QUESTION' class='btn btn-danger deleteQuestion_btn'>"+
"</form>"+
                                                "</div>"+
                                            "</div>"+
                                        "</div>"+
                                    "</div>"+
                                "</div>"+
                            "</div>"+
                        "</div>"+
                    "</div>"+
                "</li>"

"<li class='ui-state-default test2'>"+
    "<div class='boxed-answer padding5'>"+
        "<form class='answer'>"+
            "<input type='hidden' name='test_id' value='"+data.test_id+"'>"+
            "<input type='hidden' name='question_id' value='"+data.question_id+"'>"+
            "<input type='hidden' name='answer_id' value='"+data.answer_id+"'>"+
            "<input type='checkbox' name='correctAnswer' class='correct-answer'>"+
            "<input type='text' class='answer' name='answer' value=''>"+
        "</form>"+
        "<form class='delete-answer'>"+
            "<input type='hidden' name='question_id' value='"+data.question_id+"'>"+
            "<input type='hidden' name='answer_id' value='"+data.answer_id+"'>"+
            "<input type='submit' value='DELETE' class='btn btn-danger btn-xs added-answer'>"+
        "</form>"+
    "</div>"+
"</li>"



 "<li class='ui-state-default test2'>"+
                    "<div class='boxed-answer padding5'>"+
                    "<form class='answer'>"+
                            "<input type='hidden' name='test_id' value='"+data.test_id+"'>"+
                            "<input type='hidden' name='question_id' value='"+data.question_id+"'>"+
                            "<input type='hidden' name='answer_id' value='"+data.answer_id+"'>"+
                            "<input type='checkbox' name='correctAnswer' class='correct-answer'>"+
                            "<input type='text' class='answer' name='answer' value=''>"+
                        "</form>"+
                        "<form class='delete-answer'>"+
                            "<input type='hidden' name='question_id' value='"+data.question_id+"'>"+
                            "<input type='hidden' name='answer_id' value='"+data.answer_id+"'>"+
                            "<input type='submit' value='DELETE' class='btn btn-danger btn-xs added-answer'>"+
                        "</form>"+
                    "</div>"+
                "</li>"




<%= link_to "Click Here", "#myModal", :id => 'registrationModal', "data-toggle" => "modal", 'data-target' => '#myModal' %>


 "<li class='ui-state-default test2'>"+
                    "<form>"+
                        "<div class='boxed-answer'>"+
                            "<input type='radio' name='correctAnswer'>"+
                            "<input type='text' class='answer' name='answer" + data.answer_id + "' value=''>"+
                            "<button class='btn btn-danger btn-xs added-answer'>X</button>"+
                        "</div>"+
                    "</form>"+
                "</li>"




<!doctype html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <title>Learning About Floats!</title>
        <link rel="stylesheet" href="my_css_file.css">
        <style type="text/css">
           #wrapper{
              width:960px;
              background-color:yellow;
            }
            .content{
              width:220px;
              height: 100px;
              margin: 10px;
              background-color:orange;
              float:left;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <div class="content">
            </div>
            <div class="content">
            </div>
            <div class="content">
            </div>
                    <div class="clear">
            </div
       </div>
   </body>
</html>




<!-- 
            <li class='ui-state-default test2'>
                <div class='boxed-answer'>
                    <label class='answer'>
                        <% if (answer.correct == true) %>
                            <input type='radio' name='correctAnswer' checked>
                        <% else %>
                            <input type='radio' name='correctAnswer'>
                        <% end %>
                    </label>

                    <input type='text' class='answer' name='answer<%= answer.id %>' value='<%= answer.answer %>'>
                    <button class='btn btn-danger btn-xs added-answer'>X</button>
                </div>
            </li> -->