<!doctype html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <title>Learning About Floats!</title>
        <link rel="stylesheet" href="my_css_file.css">
        <style type="text/css">
           #wrapper{
              width:960px;
              background-color:yellow;
            }
            .content{
              width:220px;
              height: 100px;
              margin: 10px;
              background-color:orange;
              float:left;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <div class="content">
            </div>
            <div class="content">
            </div>
            <div class="content">
            </div>
                    <div class="clear">
            </div
       </div>
   </body>
</html>