
<div class="row"> <!-- SECTION: NAVIGATION ROW -->
	<div class="col-xs-12 formatted-div">
        <div class="row">     
            <div class="col-xs-6"> 
               <div class="site-logo">
                    <h1>Testing Platform</h1>
                </div>
            </div>
            <div class="col-xs-6">
                <nav class="navigation">
                </nav>		
            </div>
        </div>
	</div>
</div> <!-- END SECTION: NAVIGATION ROW -->

<div class="row user-test-results-test-details"> <!-- SETION: TEST DETAILS ROW -->
    <div class="col-xs-12 formatted-div">
        <div class="row">
            <div class="col-xs-4">
                <label><strong>Name:</strong></label><br>
            </div>
            <div class="col-xs-8">
                <input class="wide50" value="James"><input class="wide50" value="Johnson"><br>
            </div>
        </div>
    </div>
</div> <!-- END SETION: TEST DETAILS ROW -->

<div class="row"> <!-- SECTION: QUESTION ANSWERS & OPTIONS ROW -->
    <div class="col-xs-12 formatted-div">
        <div class="row padding15">
            <h3>Thank you for submitting your test, please review your results:</h3>
            <table class="table table-results">
                <thead>
                    <tr>
                      <td>Date/Time</td>
                       <td>Test Name:</td>
                        <td>Test No.</td>
                        <td>Score:</td>
                        <td>Time:</td>
                        <td>Pass/Fail:</td>
                    </tr>
                </thead>
                <tr>
                    <td>Oct 2 11:11 AM</td>
                    <td>Coding Challenge 101</td>
                    <td>1234</td>
                    <td>78%</td>
                    <td>On-Time</td>
                    <td class="success">Pass</td>
                </tr>
                <tr>
                    <td>Oct 3 11:11 AM</td>
                    <td>Coding Challenge 202</td>
                    <td>12345</td>
                    <td>58%</td>
                    <td>On-Time</td>
                    <td class="danger">Fail</td>
                </tr>
            </table>
        </div>
    </div>
</div> <!-- END SECTION: QUESTION ANSWERS & OPTIONS ROW -->
